<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-commerce website</title>

    <!-- font-awesome cdn link -->
    <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />

    <!-- custom css file link -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <section id="header" th:fragment="navbar">
      <a th:href="@{/}"><img th:src="@{/images/logo.png}" class="logo" alt="" /></a>
      <div>
        <ul id="navbar">
          <li><a th:href="@{/}">Home</a></li>
          <li><a class="active" href="shop.html">Shop</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li id="lg-bag">
            <a th:href="@{/cart}"><i class="far fa-shopping-bag"></i></a>
          </li>
          <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
      </div>
      <div id="mobile">
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>
  </body>
</html>
