<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-commerce website</title>

    <!-- font-awesome cdn link -->
    <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />

    <!-- custom css file link -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">New product</h2>
            </div>
            <div class="card-body">
                <form
                        method="POST"
                        role="form"
                        th:action="@{/products/save}"
                        th:object="${newProduct}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Product name</label>
                        <input
                                class="form-control"
                                id="name"
                                name="name"
                                placeholder="Enter name"
                                th:field="*{name}"
                                type="text"
                        />
                        <p th:errors="*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}">error</p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Picture URL</label>
                        <input
                                class="form-control"
                                id="pictureUrl"
                                name="pictureUrl"
                                placeholder="Picture URL"
                                th:field="*{pictureUrl}"
                                type="text"
                        />
                        <p th:errors = "*{pictureUrl}" class="text-danger"
                           th:if="${#fields.hasErrors('pictureUrl')}">error</p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Price ($)</label>
                        <input
                                class="form-control"
                                id="price"
                                name="price"
                                placeholder="Price"
                                th:field="*{price}"
                                type="number"
                        />
                        <p th:errors = "*{price}" class="text-danger"
                           th:if="${#fields.hasErrors('price')}">error</p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Description</label>
                        <input
                                class="form-control"
                                id="description"
                                name="description"
                                placeholder="Description"
                                th:field="*{description}"
                                type="text"
                        />
                        <p th:errors = "*{description}" class="text-danger"
                           th:if="${#fields.hasErrors('description')}">error</p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Available amount</label>
                        <input
                                class="form-control"
                                id="availableAmount"
                                name="availableAmount"
                                placeholder="Available amount"
                                th:field="*{availableAmount}"
                                type="number"
                        />
                        <p th:errors = "*{availableAmount}" class="text-danger"
                           th:if="${#fields.hasErrors('availableAmount')}">error</p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Submit product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>