<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-commerce website</title>

    <!-- font-awesome cdn link -->
    <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />

    <!-- custom css file link -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="cart-container" th:each="cartItem : ${cart}">
    <h1>Your Cart</h1>

    <!-- Cart items start here -->
    <div class="cart-item">
        <img th:src="${cart.product.pictureUrl}" alt="Item Image">
        <div class="cart-item-info">
            <p class="cart-item-name" th:text="${cartItem.product.name}"></p>
            <p class="cart-item-price" th:text="${cartItem.product.price}"></p>
        </div>
    </div>

    <!-- Add more cart items as needed -->

    <div class="cart-summary">
        <p th:="'Total: ' + ${cartTotal}"></p>
        <a href="#" class="checkout-btn">Proceed to Checkout</a>
    </div>
</div>
</body>
</html>
