<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-commerce website</title>

    <!-- font-awesome cdn link -->
    <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />

    <!-- custom css file link -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="shopping-cart">
    <!-- Title -->
    <section id="page-header" class="about-header">
        <h2>#cart</h2>
        <p>Add your coupon code & SAVE upto 70%!</p>
    </section>

    <!-- Products -->
    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
            </tr>
            </thead>
            <tbody th:each="item : ${cartItems}" class="cart-items">
            <tr>
                <td><a href="#"><i class="fas fa-times-circle" style="color:black"></i></a></td>
                <td><img th:src="${item.product.pictureUrl}" alt=""></td>
                <td th:text="${item.product.name}"></td>
                <td th:text="'$' + ${item.product.price}"></td>
                <td><input type="number" th:value="${item.quantity}" readonly></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
    <section id="cart-add" class="section-p1">
        <div class="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter Your Coupon">
                <button class="normal">Apply</button>
            </div>
        </div>
        <div class="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>$ 335</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong th:text="'$' + ${cartTotal}"></strong></td>
                </tr>
            </table>
            <form id="form" method="GET" class="normal" th:action="@{/api/payment/checkout}">
                <input id="checkout" class="normal" type="submit" value="Submit">
            </form>
        </div>
    </section>
    <script th:src="@{/js/cart-checkout.js}"></script>
</body>
</html>